@import "tailwindcss";

html, body, #root {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  cursor: url("/cursor-default.png") 8 8, auto;
}

a,
button,
.cursor-pointer {
  cursor: url("/cursor-pointer.png") 8 8, pointer;
}

@custom-variant hover (&:hover);

html, body {
  background-image: url("./assets/forestBackground.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center top;
  overscroll-behavior: none;
}

@theme
{
  /* colors */
  --color-background-light: rgb(223 218 176);
  --color-background-dark: rgb(1 24 36);
  --color-accent-light: rgb(103 102 51);
  --color-accent-dark: rgb(190 232 254);
  --color-text1-light: rgb(29 20 17);
  --color-text1-dark: rgb(237 255 255);
  --color-text2-light: rgb(243 243 243);
  --color-text2-dark: rgb(1 24 36);
  --color-surface-light: rgb(174 35 52);
  --color-surface-dark: rgb(172 237 237);
  --color-button1-light: rgb(110 39 39);
  --color-button1-dark: rgb(237 255 255);
  --color-button2-light: rgb(155 153 62);
  --color-button2-dark: rgb(142 197 226);

  --color-background: var(--color-background-light);
  --color-accent: var(--color-accent-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface: var(--color-surface-light);
  --color-button1: var(--color-button1-light);
  --color-button2: var(--color-button2-light);
  --color-shadow: rgb(0, 0, 0);

  /* fonts */
  --font-heading: "Vina Sans", system-ui, sans-serif;
  --font-subheading: "Roboto", system-ui, sans-serif;
  --font-body: "IBM Plex Mono", ui-monospace, monospace;
  --font-pixel: "Press Start 2P", monospace;
}

/* dark mode colors */
.dark {
  --color-background: var(--color-background-dark);
  --color-accent: var(--color-accent-dark);
  --color-text1: var(--color-text1-dark);
  --color-text2: var(--color-text2-dark);
  --color-surface: var(--color-surface-dark);
  --color-button1: var(--color-button1-dark);
  --color-button2: var(--color-button2-dark);
  --color-shadow: var(--color-accent-dark);
}

/* pixel art images */
[data-theme-img] {
  image-rendering: pixelated;
}

/* DARK MODE IMAGES */
/* - trees */
.dark [data-theme-img="leftTree"] {
  content: url("./assets/Trees/LeftTree-dark.png");
}
.dark [data-theme-img="rightTree"] {
  content: url("./assets/Trees/RightTree-dark.png");
}
.dark [data-theme-img="centerTrees"] {
  content: url("./assets/Trees/CenterTrees-dark.png");
}
/* - leaves */
.dark [data-theme-img="leaf1"] {
  content: url("./assets/Leaves/Leaf1-dark.png");
}
.dark [data-theme-img="leaf2"] {
  content: url("./assets/Leaves/Leaf2-dark.png");
}
.dark [data-theme-img="leaf3"] {
  content: url("./assets/Leaves/Leaf3-dark.png");
}
.dark [data-theme-img="leaf4"] {
  content: url("./assets/Leaves/Leaf4-dark.png");
}
.dark [data-theme-img="leaf5"] {
  content: url("./assets/Leaves/Leaf5-dark.png");
}
.dark [data-theme-img="leaf6"] {
  content: url("./assets/Leaves/Leaf6-dark.png");
}
/* - environment */
.dark [data-theme-img="mushroom"] {
  content: url("./assets/Environment/Mushroom-dark.png");
}
.dark [data-theme-img="miniMushroom"] {
  content: url("./assets/Environment/MiniMushroom-dark.png");
}
.dark [data-theme-img="trunk"] {
  content: url("./assets/Environment/Trunk-dark.png");
}

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .duration-300 {
    animation-duration: 300ms;
  }
}

@keyFrames slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gnomeAnimation {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: calc(100% * var(--frames)) 0%;
  }
}

/* hint text animation */
@keyframes float {
  0%   { transform: translate(-50%, 0); }
  50%  { transform: translate(-50%, -4px); }
  100% { transform: translate(-50%, 0); }
}
.animate-float {
  animation: float 1.5s ease-in-out infinite;
}

/* leaf falling animation */
@keyframes leaf-fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: .8;
  }
  100% {
    transform: translate(
      calc(100vw + var(--drift-x)),
      120vh
    )
    rotate(360deg);
    opacity: .2;
  }
}
.leaf {
  position: absolute;
  animation-name: leaf-fall;
  animation-timing-function: cubic-bezier(0.33, 0.0, 0.67, 1);
}

